@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #00398fa8;
    background: radial-gradient(#011e49a8, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
    
}

.ss-banner {
    width: 100%;      
}

h1 {
    letter-spacing: 3px;
    color: #eee;

}

.bronze-saints,
.gold-saints {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 20px;

}

.bronze-saint,
.gold-saint {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, .5);
    margin: 10px;
    padding: 20px 20px;
    text-align: center;
    transition: ease-in-out 700ms;
}

 small {
    display: flex;
    letter-spacing: -1px;
    max-width: 250px;
    text-align: left;
    color:rgba(39, 39, 39, 0.808);
    
}


.bronze-saint:hover {
    transform: scale(1.25, 1.25);
    cursor: pointer;
}

.gold-saint:hover {
    transform: scale(1.25, 1.25);
    cursor: pointer;
} 

.img-container img {
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.fa-solid.i-red {
    color:rgb(255, 0, 0);
    padding-right: 5px;
}

.fa-solid.i-blue {
    color:blue;
}